.cardsCont{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1;
    justify-content: center;
    height: 120vh;
}
.container{

    padding: 50px;
    top: 0;
}

.link{
    text-decoration: none;
}

.notFound{
    margin: 20px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.loading{
    width: 200px;
    margin: 100px auto;
    border-radius: 50%;
}

@media (max-width: 900px){
    .notFound{
        width: 100%;
        height: auto;
    }
}