.pageCont{
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
}
.pageContBtn{
    width: 45px;
    background-color: rgb(15, 82, 109);
    border: none;
    color: rgb(182, 182, 182);
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    height: 30px;
    transition: all ease .2s;
    cursor: pointer;
}

.pageContBtn:hover{
    color: white;
    background-color: rgb(37, 133, 172);
}

.currentPage{
    background-color: rgb(7, 44, 77);
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.603);
}

.currentPage:hover{
    background-color: rgb(6, 66, 117);
}

.nextPrev{
    width: 50px;
    background-color: rgb(15, 82, 109);
    border: none;
    color: rgb(182, 182, 182);
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    height: 30px;
    cursor: pointer;
    transition: all ease .2s;
}

.nextPrev:hover{
    background-color: rgb(33, 131, 170);
    color: white;
    transition: all ease .2s;
}