.searchCont{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%;
    margin: 0px;
    align-items: center;
    margin-right: 60px;
}

.input{
    height: 35px;
    padding: 0 5px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.input:focus{
    outline: none;
}

.btn{
    height: 40px;
    width: 100%;
    border: none;
    background-color: rgb(110, 82, 39);
    border-radius: 10px;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(165, 165, 165);
    text-align: center;
    cursor: pointer;
    transition: all ease .2s;
}

.btn:hover{
    background-color: rgb(160, 117, 52);
    color: white;
}

.btnsearch{
    background-color: rgb(24, 92, 41);
}

.btnsearch:hover{
    background-color: rgb(47, 177, 80);
    color: white;
}

@media (max-width: 900px){
    .searchCont{
        margin-right: -100px;
    }
    .input{
        width: 150px;
    }
    @media(max-width: 400px){
        .searchCont{
            margin-right: -50px;
        }
        .input{
            width: 100px;
        }
        .btn{
            font-size: 18px;
        }
    }
}