.container{
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/933/827/743/pokemon-pixel-art-wallpaper-preview.jpg");
    background-size: 110vw 105vh;
    background-repeat: repeat-x;
    display: flex;
    height: 105vh;
    width: 105vw;
}

.container img{
    bottom: 20px;
    width: 100px;
    position: absolute;
}

/* LUXRAY */
#luxray{
    width: 200px;
    filter: drop-shadow(10px 70px 20px rgba(0, 0, 0, 0.514));
}

/* BLASTOISE */
#blastoise{
    width: 230px;
    left: 8%;
    bottom: 10px;
    filter: drop-shadow(20px 70px 20px rgba(0, 0, 0, 0.514));
}

/* MEWTWO */
#mewtwo{
    top: 20px;
    left: 40px;
    width: 200px;
    filter: drop-shadow(0px 0px 20px rgba(226, 11, 197, 0.863));
}

/* BULBASAUR */
#bulbasaur{
    left:55%;
    bottom: 10px;
    width: 140px;
    transform: scaleX(-1);
    z-index: 10;
    filter: drop-shadow(20px 70px 20px rgba(0, 0, 0, 0.514));
}

/* CHARMANDER */
#charmander{
    left: 30%;
    width: 150px;
    z-index: 1;
    bottom: 5px;
    filter: drop-shadow(20px 70px 20px rgba(0, 0, 0, 0.514));
}

/* PIKACHU */
#pikachu{
    left: 45%;
    width: 160px;
    z-index: 100;
    bottom: 5px;
    transform: scaleX(-1);
    filter: drop-shadow(10px 70px 20px rgba(0, 0, 0, 0.514));
}

/* SQUIRTLE */
#squirtle{
    left: 38%;
    z-index: 1;
    width: 140px;
    bottom: 5px;
    filter: drop-shadow(20px 70px 20px rgba(0, 0, 0, 0.514));
}

/* GROWLITHE */
#growlithe{
    left: 22%;
    width: 180px;
    z-index: 0;
    bottom: 5px;
    filter: drop-shadow(20px 70px 20px rgba(0, 0, 0, 0.514));
}

/* TOTODILE- */
#totodile{
    left: 62%;
    z-index: 3;
    width: 170px;
    bottom: 0px;
    filter: drop-shadow(-20px 70px 20px rgba(0, 0, 0, 0.514));
}

/* POLIWHIRL */
#poliwhirl{
    left: 68%;
    width: 240px;
    transform: scaleX(-1);
    z-index: 2;
    filter: drop-shadow(30px 80px 20px rgba(0, 0, 0, 0.514));
}

/* CHARIZARD */
#charizard{
    left: 63%;
    z-index: 1;
    width: 550px;
    transform: scaleX(-1);
    filter: drop-shadow(30px 90px 20px rgba(0, 0, 0, 0.514));
}

/* VAPOREON */
#vaporeon{
    left: 86%;
    z-index: 0;
    width: 200px;
    transform: scaleX(-1);
    filter: drop-shadow(20px 90px 20px rgba(0, 0, 0, 0.514));
}

/* PIDGEOTTO */
#pidgeotto{
    left: 80%;
    top: 0;
    width: 220px;
    transform: scaleX(-1);
    filter: drop-shadow(0px 0px 20px rgba(246, 255, 124, 0.863));
}

/* CHARACTER 1 */
#character{
    left: 35%;
    width: 370px;
    transform: scaleX(-1);
}

/* CHARACTER 2 */
#character2{
    left: 30%;
    width: 180px;
    transform: scaleX(-1);
}

/* CHARACTER 3 */
#character3{
    left: 53%;
    width: 180px;
    bottom: 40px;
    transform: scaleX(-1);
}

/* LOGO */
.container div{
    display: block;
    top: 0;
    width: 100%;
}

.container div div{
    display: flex;
    height: 40vh;
    flex-direction: unset;
    width: 100%;
    bottom: 0;
    justify-content: center;
}

#logo{
    top: 0;
    width: 600px;
    filter: drop-shadow(-10px 5px 0px rgba(0, 0, 0, 0.678));
}

.container div a{
    color: rgb(173, 4, 4);
    text-decoration: none;
    height: 100%;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    font-style: italic;
    transition: all ease .2s;
    text-shadow: 2px 0 0 rgb(226, 226, 226), -2px 0 0 rgb(226, 226, 226), 0 2px 0 rgb(226, 226, 226), 0 -2px 0 rgb(226, 226, 226), 1px 1px rgb(226, 226, 226), -1px -1px 0 rgb(226, 226, 226), 1px -1px 0 rgb(226, 226, 226), -1px 1px 0 rgb(226, 226, 226);
}

.container div a:hover{
    color: rgb(230, 24, 24);
    font-size: 2.4rem;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
@media (max-width:1300px){
    .container{
        overflow: hidden;
        height: 100vh;
        width: 100vw;
        position: absolute;
        background-size: auto 100vh;
    }
    #luxray{
        display: none;
    }
    #vaporeon{
        display: none;
    }
    #poliwhirl{
        display: none;
    }
    #growlithe{
        display: none;
    }
    #totodile{
        display: none;
    }
    #charizard{
        left: 50%;
        z-index: 0;
    }
    #character3{
        display: none;
    }
    #blastoise{
        left: 5%;
    }
    #charmander{
        left: 25%;
    }
    #squirtle{
        left: 35%;
    }
    #pikachu{
        left: 45%;
    }
    #bulbasaur{
        left: 60%;
    }
    @media(max-width:900px){
        
        @media (max-width:650px) {
            #charizard{
                display: none;
            }
            #blastoise{
                display: none;
            }
            #mewtwo{
                top: 200px;
                width: 160px;
                z-index: 0;
                left: 10%;
            }
            #pidgeotto{
                top: 150px;
                width: 160px;
                z-index: 0;
                left: 70%;
            }
            #charmander{
                left: 2%;
            }
            #squirtle{
                left: 20%;
            }
            #pikachu{
                left: 35%;
            }
            #bulbasaur{
                left: 55%;
            }
            #character2{
                left: 15%;
            }
            #character{
                left: 20%;
            }
            @media (max-width:500px){
                .container{
                    overflow: hidden;
                    background-size: auto 100vh;
                    height: 100vh;
                    width: 100vw;
                    position: absolute;
                }
                #logo{
                    width: 400px;
                }
                .container div div{
                    height: 20vh;
                }
                #mewtwo{
                    display: none;
                }
                #pidgeotto{
                    display: none;
                }
                #charmander{
                    left: 5%;
                }
                #squirtle{
                    left: 25%;
                }
                #pikachu{
                    left: 45%;
                }
                #bulbasaur{
                    left: 70%;
                }
                @media (max-width:420px){
                    
                    #character{
                        left: -10%;
                    }
                    #character2{
                        display: none;
                    }
                    #pikachu{
                        display: none;
                    }
                    #squirtle{
                        left: 35%;
                    }
                    #bulbasaur{
                        left: 60%;
                        z-index: 0;
                    }
                    #logo{
                        width: 400px;
                    }
                    @media (max-width:320px){
                        .container{
                            overflow: hidden;
                            height: 100vh;
                            width: 100vw;
                            position: absolute;
                            background-size: auto 100vh;
                        }
                        .container img{
                            margin:0%
                        }
                        #logo{
                            width: 300px;
                        }
                        .container div div{
                            height: 20vh;
                        }
                        #pikachu{
                            display: block;
                            left: 25%;
                            width: 140px;
                        }
                        #squirtle{
                            display: none;
                        }
                        #bulbasaur{
                            display: none;
                        }
                        #charmander{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}